.advantages__icon_animated {
    animation: heartbeat 1.5s ease infinite;
    &:hover {
        animation-play-state: paused;
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1); 
    }
}

.feed__item_animated {
    animation: fadeInRight 2s both 0.5s;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}