.feed {
    padding-bottom: 70px;
    overflow: hidden;
    &__item {
        display: flex;
        &:nth-child(2) {
            margin-top: 70px;
        }
    }
    &__img {
        margin: 0 auto;
        height: 169px;
        width: 169px;
    }
    &__text {
        margin-left: 60px;
        padding-right: 60px;
    }
    &__subtitle {
        color: #0d0d0d;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
    }
    &__count {
        color: #646464;
        font-size: 14px;
        line-height: 14px;
        font-weight: 300;
        margin-top: 10px;
    }
    &__descr {
        color: #0d0d0d;
        font-size: 16px;
        line-height: 1.25em;
        font-weight: 300;
        margin-top: 20px;
    }
    &__divider {
        margin: 50px 5px 50px 5px;
        max-width: 940px;
        height: 1px;
        background-color: #f6f6f6;
    }
}