.pageup {
    display: none;
    position: fixed;
    bottom: 110px;
    right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
    &:hover {
        box-shadow: 2px 2px 10px $main-color;
    }
    img {
        width: 100%;
    }
}